/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1 {
  font-size: 50px !important;
}

p {
  font-size: 20px !important;
}

.red-interact, .green-interact, .blue-interact, .yellow-interact {
  margin-bottom: 20px; 
  border: none; 
  border-radius: 25px; 
  padding: 10px; 
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: filter 0.3s ease;
}

.green-interact {
  background-color: #24b324; 
}

.red-interact {
  background-color: #cc2929;
}

.yellow-interact {
  background-color: #e6e622;
}

.blue-interact {
  background-color: #2233e6;
}